location            = "southcentralus"
environment         = "dev"
project_name        = "Enterprise-Azure-Application-Platform"
owner               = "Cloud-Platform-Team"
cost_center         = "Platform-Engineering"
data_classification = "Internal"
criticality         = "Medium"
key_vault_name       = "kveaapdevREPLACE"
admin_public_ip_cidr = "203.0.113.10/32"
container_registry_name  = "acreaapdevREPLACE"
aks_admin_public_ip_cidr = "203.0.113.10/32"
aks_kubernetes_version   = "REPLACE_WITH_SUPPORTED_VERSION"
github_repository = "YOUR_GITHUB_USERNAME/enterprise-azure-application-platform"
